@model List<StaffMembers.Models.Staff>
@{
    ViewBag.Title = "Staff Members";
}

<h1>Staff Members</h1>

@foreach (var staff in Model)
{
    <div class="card-group">
        <div class="card" style="width:400px">
            <div class="card text-white bg-secondary mb-3" >

                <div class="card-body">
                    <h5 class="card-title ">@staff.Name</h5>
                    <p class="card-text">@staff.Bio</p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@staff.Email</li>
                <li class="list-group-item">@staff.Phone</li>
                <li class="list-group-item">@staff.Years</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Roles" asp-action="dropdown" class="btn btn-outline-secondary">Assign Role</a>
            </div>
        </div>
    </div>
    <br />

}

