@model StaffMembers.Questions
@{
    ViewData["Title"] = "Delete Question";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
    </dl>

    <form asp-action="DeleteQuestion">
        <input type="hidden" asp-for="QuestionId" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete question: @Html.DisplayFor(model => model.QuestionText)')"/>
        <a asp-controller="Question" asp-action="QuestionIndex">Back to List</a>
    </form>
</div>