@page
@model StaffMembers.Questions

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            Question
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dd class="col-sm-2">
            Answer 1
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerA)
        </dd>
        <dd class="col-sm-2">
            Answer 2
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerB)
        </dd>
        <dd class="col-sm-2">
            Answer 3
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerC)
        </dd>
        <dd class="col-sm-2">
            Answer 4
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerD)
        </dd>
        <dd class="col-sm-2">
            Answer 5
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="QuestionIndex">Back to List</a>
</div>